/* App.css */

main {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Установите шрифт для всего приложения */
   /* Занять всю высоту окна */
  display: center;
  justify-content: center; /* Центрировать содержимое по горизонтали */
  background: linear-gradient(to bottom right, #a8c0ff, #3f2b96); /* Градиент фона */
  color: #333; /* Цвет текста */
  align-items: center;
  width: flex; /* Задайте ширину основного элемента */
  height: flex;
 align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон для контента */
  border-radius: 10px; /* Закругление углов */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для основного элемента */
  padding: 20px; /* Отступы внутри основного элемента */
}