.fairytale-image { 
  width: 200px; 
  height: 100px; 
}
.fair-tale-list {
  background:linear-gradient(200deg,rgba(0, 0, 0, 0.411),rgba(199, 199, 199, 0.329)); 
  background-size:500% 500%;
  -webkit-animation:ServiceAnimation 8s ease infinite;
  -moz-animation:ServiceAnimation 8s ease infinite;
  -o-animation:ServiceAnimation 8s ease infinite;
  animation:ServiceAnimation 8s ease infinite; /* Время смены цвета */
  height: 900px;
  width: flex;
border-radius: 9px
}
@-webkit-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-moz-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-o-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
/* FairTaleCard.css */
.fairy-tale-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  background-color: #0000; /* Цвет фона для карточки */
}

.fairy-tale-image {
  width: 150px; /* Установите нужную ширину */
  height: 200px; /* Установите нужную высоту */
  object-fit: cover; /* Сохранить пропорции изображения */
  border-radius: 4px; /* Закруглите углы изображения при желании */
}