/* Глобальная настройка размеров */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;

    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExenQ5MWhlYWNrcjVtYmxobTdpdHFxaGQ3YXQyeWdhcmsyOWpuZG1xeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xPDniDQRpxN5uKkTAP/giphy.gif'); /* Путь к вашему изображению */
    background-repeat: no-repeat; /* Повтор изображения по горизонтали и вертикали */
    background-size: cover; /* Растягивание изображения по размеру контейнера */
    background-attachment: fixed; /* Фиксированное положение фона при прокрутке страницы */
    background-position: center; /* Центрирование изображения */

}

/* Контейнер для основного содержимого */
.container {
  min-height: 38vh; /* Минимальная высота - 100% высоты экрана минус высота футера */
  padding: 2px;
  box-sizing: border-box;
}

/* Ограничение минимальной ширины для всего сайта */
body {
  min-width: 320px; /* Минимальная ширина сайта */
}

/* Настройка адаптивности для различных разрешений экрана */
@media screen and (min-width: 768px) {
  .container {
    max-width: 800px; /* Максимальная ширина для планшетов и больших экранов */
    margin: 0 auto;
  }
}

/* Стили для футера */
footer {
  height: 28vh; /* Высота футера */
  background-color: rgb(0, 0, 0);
  text-align: center;

 padding:20px;
;
}

/* Адаптация футера для разных экранов */
@media screen and (max-width: 767px) {
  footer {
    height: 0px; /* Увеличенная высота для мобильных устройств */
  }
}

/* Остальные стили остаются без изменений */
.fair-tale-list {
  background: linear-gradient(200deg, rgba(0, 0, 0, 0.27), rgba(199, 199, 199, 0.15));
  background-size: 500% 500%;
  animation: ServiceAnimation 8s ease infinite;
  border-radius: 9px;
}

@-webkit-keyframes ServiceAnimation {
  0% {
    background-position: 90% 0;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 90% 0;
  }
}

@-moz-keyframes ServiceAnimation {
  0% {
    background-position: 90% 0;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 90% 0;
  }
}

@-o-keyframes ServiceAnimation {
  0% {
    background-position: 90% 0;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 90% 0;
  }
}

@keyframes ServiceAnimation {
  0% {
    background-position: 90% 0;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 90% 0;
  }
}

.fairy-tale-card {
  border: 1px solid #383535;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.fairy-tale-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.fairytale-card a {
  text-decoration: none;
}
