.overlay-card {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
    filter: url(#perfect-shadow);

}




.overlay-card:hover {
    transform: translateY(-1px);
    box-shadow:
            0 8px 25px rgba(241, 4, 4, 0.4),
            0 0 0 2px rgba(241, 4, 4, 0.3);
}

.overlay-button {
    position: relative;
    top: -5.5rem;
    left: 27.59rem;
    background: url("../Images/bttn2.svg") no-repeat;
    cursor: pointer;
    padding: 10px 48px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;




}

.overlay-button:hover {
    transform: scale(1.2);
    box-shadow:
            0 0 0 1px rgba(208, 208, 208, 0.85),
            6px 4px 15px rgba(210, 210, 210, 0.4),
            inset 0 0 6px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .overlay-title {
        font-size: 1.4rem;
    }

    .overlay-description {
        font-size: 0.9rem;
        -webkit-line-clamp: 2;
    }

    .card-content-overlay {
        padding: 1.5rem;
    }

    .overlay-button {
        padding: 0.6rem 1.5rem;
    }
}